body{
    background-image: url(Intro.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    margin: 0%;
    cursor: cell;
}

header{
    background-color: transparent;
    padding: 2px;
    padding-bottom: 0%;
}

.one{
    color: red ;
    padding-top: 5px;
    margin-left: 4.5cm;
    font-size: 300%;
}

.games{
    margin-right: 7%;
    margin-top: -7%;
    display: flex;
    justify-content: right;
}

li{
    margin-left: 10%;
    list-style: none;
}

.games a{
    border-radius: 30%;
    color: gold; 
    text-decoration: none;
}

a:hover{
    background-color: brown;
    color: white;
}

.fill{
    font-size: 16px;
    margin-left: 5cm;
    margin-top: .9cm;
    background: gray;
    opacity: 75%; 
    color: black;
    width: 450px;
    text-align: center;
    border-radius: 10%;
    padding-bottom: 3%;
    padding-top: 1%;
}


.button{
    font-size: larger;
    width: 45%;
    padding: 4%;
    margin-top: 30px;
}

.button:hover{
    background-color: brown;
    transition: .2s;
}